# Exploratory Data Analysis (EDA)

This notebook will focus on exploring tabular data through DataFrames. This will only work if you've downloaded the data already.

**Note:** If you didn't use [Anaconda](https://anaconda.com), you may need to do `%pip install` on any missing libraries.

## DataFrames
Now that we have our data, let's load up a table into a DataFrame

In [113]:
import pandas as pd

df_teams = pd.read_csv('../Data/team_info.csv')
df_teams

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6
5,3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
6,5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5
7,17,12,Detroit,Red Wings,DET,/api/v1/teams/17
8,28,29,San Jose,Sharks,SJS,/api/v1/teams/28
9,18,34,Nashville,Predators,NSH,/api/v1/teams/18
10,23,20,Vancouver,Canucks,VAN,/api/v1/teams/23
11,16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16
12,9,30,Ottawa,Senators,OTT,/api/v1/teams/9
13,8,1,Montreal,Canadiens,MTL,/api/v1/teams/8
14,30,37,Minnesota,Wild,MIN,/api/v1/teams/30
15,15,24,Washington,Capitals,WSH,/api/v1/teams/15
16,19,18,St Louis,Blues,STL,/api/v1/teams/19
17,24,32,Anaheim,Ducks,ANA,/api/v1/teams/24
18,27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27
19,2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2
20,10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10
21,13,33,Florida,Panthers,FLA,/api/v1/teams/13
22,7,19,Buffalo,Sabres,BUF,/api/v1/teams/7
23,20,21,Calgary,Flames,CGY,/api/v1/teams/20
24,21,27,Colorado,Avalanche,COL,/api/v1/teams/21
25,25,15,Dallas,Stars,DAL,/api/v1/teams/25
26,29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29
27,52,35,Winnipeg,Jets,WPG,/api/v1/teams/52
28,22,25,Edmonton,Oilers,EDM,/api/v1/teams/22
29,54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54
30,12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12
31,53,28,Arizona,Coyotes,ARI,/api/v1/teams/53
32,11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11

That's a lot. Let's look at just 5 rows

In [114]:
df_teams.head()

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6

Interesting, but not immediately useful. Let's load up more data from another table.

![Other Tables](../Data/table_relationships.jpeg)

In [115]:
df_team_stats = pd.read_csv('../Data/game_teams_stats.csv')
df_team_stats.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0,left
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0,left
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0,right
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0,right
4,2015020314,21,away,True,REG,Patrick Roy,4.0,29.0,17.0,9.0,3.0,1.0,45.7,13.0,5.0,20.0,left

## Getting Column Values & Unique Values

In [116]:
df_team_stats["settled_in"]

0        REG
1        REG
2         OT
3         OT
4        REG
        ...
52605    REG
52606    REG
52607    REG
52608    REG
52609    REG
Name: settled_in, Length: 52610, dtype: object

In [117]:
df_team_stats["settled_in"].unique()

array(['REG', 'OT', 'tbc'], dtype=object)

## Descriptive Statistics for Columns and DataFrames

In [118]:
df_team_stats["hits"].describe()

count    47682.000000
mean        21.127449
std          9.237332
min          0.000000
25%         15.000000
50%         20.000000
75%         27.000000
max         80.000000
Name: hits, dtype: float64

In [119]:
df_team_stats.describe()

,game_id,team_id,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked
count,5.261000e+04,52610.000000,52602.000000,52602.000000,47682.000000,52602.000000,52602.000000,52602.000000,30462.000000,47682.000000,47682.000000,47682.000000
mean,2.010765e+09,16.880403,2.781282,29.930744,21.127449,11.754838,3.693567,0.667674,49.967179,8.832977,6.745040,13.317352
std,6.073510e+06,11.195171,1.657257,6.896107,9.237332,9.029566,1.870606,0.813093,7.326322,5.478274,4.144502,5.581261
min,2.000020e+09,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.006020e+09,8.000000,2.000000,25.000000,15.000000,6.000000,2.000000,0.000000,45.200000,5.000000,4.000000,10.000000
50%,2.011021e+09,16.000000,3.000000,30.000000,20.000000,10.000000,3.000000,0.000000,50.000000,8.000000,6.000000,13.000000
75%,2.016030e+09,24.000000,4.000000,34.000000,27.000000,15.000000,5.000000,1.000000,54.800000,12.000000,9.000000,17.000000
max,2.019041e+09,90.000000,12.000000,88.000000,80.000000,213.000000,16.000000,7.000000,79.200000,52.000000,40.000000,62.000000

## Adding a Column

In [120]:
df_team_stats['is_home'] = df_team_stats['HoA'].eq('home')
df_team_stats["has_many_hits"] = df_team_stats["hits"] > 30
df_team_stats.sample(10)

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide,is_home,has_many_hits
2448,2016020757,26,home,True,REG,Darryl Sutter,5.0,40.0,26.0,13.0,3.0,1.0,49.2,7.0,1.0,16.0,left,True,False
36800,2000020451,24,home,True,OT,Craig Hartsburg,5.0,30.0,NaN,10.0,5.0,2.0,NaN,NaN,NaN,NaN,right,True,False
30779,2002020921,7,away,True,REG,Lindy Ruff,4.0,25.0,16.0,19.0,2.0,1.0,NaN,10.0,6.0,7.0,right,False,False
6338,2015020215,53,away,True,OT,Dave Tippett,4.0,28.0,20.0,8.0,5.0,1.0,61.1,13.0,6.0,12.0,right,False,False
17858,2010020917,29,home,True,REG,Scott Arniel,5.0,34.0,25.0,17.0,9.0,3.0,47.4,1.0,4.0,7.0,right,True,False
1121,2015020742,18,away,True,REG,Peter Laviolette,2.0,24.0,9.0,8.0,4.0,1.0,45.5,6.0,7.0,12.0,left,False,False
38122,2000020631,25,away,True,REG,Ken Hitchcock,3.0,21.0,NaN,19.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,False,False
19292,2009020356,4,home,False,REG,John Stevens,2.0,33.0,17.0,30.0,5.0,0.0,NaN,6.0,7.0,8.0,left,True,False
8371,2014020836,15,away,True,REG,Barry Trotz,5.0,28.0,35.0,8.0,5.0,1.0,55.4,10.0,7.0,18.0,right,False,True
193,2017020164,30,home,True,REG,Bruce Boudreau,2.0,29.0,12.0,6.0,4.0,0.0,44.6,6.0,9.0,18.0,left,True,False

In [121]:
df_team_stats['wins'] = df_team_stats['won'].apply(lambda x: 1 if x else 0)
df_team_stats['games'] = 1
df_team_stats

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,...,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide,is_home,has_many_hits,wins,games
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,...,2.0,50.9,12.0,9.0,11.0,left,False,False,0,1
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,...,2.0,49.1,16.0,8.0,9.0,left,True,False,1,1
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,...,1.0,43.8,7.0,4.0,14.0,right,False,False,1,1
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,...,1.0,56.2,5.0,6.0,14.0,right,True,False,0,1
4,2015020314,21,away,True,REG,Patrick Roy,4.0,29.0,17.0,9.0,...,1.0,45.7,13.0,5.0,20.0,left,False,False,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52605,2018030416,19,home,False,REG,Craig Berube,1.0,29.0,29.0,20.0,...,0.0,58.7,12.0,11.0,9.0,right,True,False,0,1
52606,2018030417,19,away,True,REG,Craig Berube,4.0,20.0,36.0,2.0,...,0.0,49.0,7.0,8.0,21.0,right,False,True,1,1
52607,2018030417,6,home,False,REG,Bruce Cassidy,1.0,33.0,28.0,0.0,...,0.0,51.0,13.0,6.0,7.0,right,True,False,0,1
52608,2018030417,19,away,True,REG,Craig Berube,4.0,20.0,36.0,2.0,...,0.0,49.0,7.0,8.0,21.0,right,False,True,1,1
52609,2018030417,6,home,False,REG,Bruce Cassidy,1.0,33.0,28.0,0.0,...,0.0,51.0,13.0,6.0,7.0,right,True,False,0,1

## Merging DataFrames

In [122]:
df_teams_merged = pd.merge(df_team_stats, df_teams, on='team_id')
df_teams_merged.sample(5)

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,...,startRinkSide,is_home,has_many_hits,wins,games,franchiseId,shortName,teamName,abbreviation,link
34190,2019020456,14,home,True,REG,Jon Cooper,7.0,38.0,18.0,8.0,...,right,True,False,1,1,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
19727,2019020848,26,away,False,REG,Todd McLellan,0.0,37.0,18.0,8.0,...,right,False,False,0,1,14,Los Angeles,Kings,LAK,/api/v1/teams/26
16863,2012020544,10,home,False,REG,Randy Carlyle,3.0,28.0,35.0,13.0,...,left,True,True,0,1,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10
44499,2000020560,13,home,False,REG,Duane Sutter,1.0,25.0,NaN,20.0,...,left,True,False,0,1,33,Florida,Panthers,FLA,/api/v1/teams/13
1400,2010030127,4,home,True,REG,Peter Laviolette,5.0,36.0,25.0,32.0,...,left,True,False,1,1,16,Philadelphia,Flyers,PHI,/api/v1/teams/4

## Filtering DataFrames

In [123]:
df_rangers = df_teams_merged[df_teams_merged['teamName'].eq('Rangers')]
df_rangers.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,...,startRinkSide,is_home,has_many_hits,wins,games,franchiseId,shortName,teamName,abbreviation,link
44975,2015020646,3,away,False,REG,Alain Vigneault,1.0,35.0,27.0,8.0,...,right,False,False,0,1,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
44976,2017021170,3,home,False,REG,Alain Vigneault,2.0,30.0,17.0,6.0,...,left,True,False,0,1,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
44977,2017021257,3,away,False,REG,Alain Vigneault,0.0,17.0,25.0,6.0,...,left,False,False,0,1,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
44978,2017020059,3,away,False,REG,Alain Vigneault,1.0,38.0,13.0,8.0,...,right,False,False,0,1,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
44979,2015021069,3,away,False,REG,Alain Vigneault,1.0,26.0,19.0,8.0,...,right,False,False,0,1,10,NY Rangers,Rangers,NYR,/api/v1/teams/3

In [124]:
df_teams_merged[df_teams_merged['giveaways'].gt(30)].sample(5)

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,...,startRinkSide,is_home,has_many_hits,wins,games,franchiseId,shortName,teamName,abbreviation,link
27888,2003020284,25,home,True,REG,Dave Tippett,3.0,17.0,28.0,8.0,...,left,True,False,1,1,15,Dallas,Stars,DAL,/api/v1/teams/25
47811,2003020224,17,away,True,REG,Dave Lewis,6.0,27.0,9.0,20.0,...,left,False,False,1,1,12,Detroit,Red Wings,DET,/api/v1/teams/17
49494,2003020726,19,away,False,REG,Joel Quenneville,0.0,33.0,19.0,10.0,...,left,False,False,0,1,18,St Louis,Blues,STL,/api/v1/teams/19
32087,2003020335,1,away,False,REG,Pat Burns,0.0,21.0,10.0,14.0,...,left,False,False,0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
27956,2003020085,25,home,False,REG,Dave Tippett,1.0,16.0,27.0,15.0,...,left,True,False,0,1,15,Dallas,Stars,DAL,/api/v1/teams/25

## Column Listing and Manipulation

In [125]:
df_rangers.columns

Index(['game_id', 'team_id', 'HoA', 'won', 'settled_in', 'head_coach', 'goals',
       'shots', 'hits', 'pim', 'powerPlayOpportunities', 'powerPlayGoals',
       'faceOffWinPercentage', 'giveaways', 'takeaways', 'blocked',
       'startRinkSide', 'is_home', 'has_many_hits', 'wins', 'games',
       'franchiseId', 'shortName', 'teamName', 'abbreviation', 'link'],
      dtype='object')

In [126]:
df_rangers = df_rangers.drop(columns=["HoA", "settled_in", "startRinkSide"])

In [127]:
df_subset = df_rangers[["wins", 'games', "head_coach", "goals", "shots", "hits", "pim", "powerPlayOpportunities", "powerPlayGoals", "faceOffWinPercentage", "giveaways", "takeaways", "blocked"]]

## Grouping

In [128]:
df_subset.groupby('head_coach').agg(['mean', 'sum']).sort_values(('wins','mean'), ascending=False)

                     wins      games          goals              shots  \
                     mean  sum  mean  sum      mean     sum       mean
head_coach
Terry O'Reilly   1.000000    1   1.0    1  2.000000     2.0  30.000000
Alain Vigneault  0.545648  257   1.0  471  2.821656  1329.0  30.751592
John Tortorella  0.531250  187   1.0  352  2.630682   926.0  29.806818
Tom Renney       0.501529  164   1.0  327  2.678899   876.0  31.048930
David Quinn      0.446602  138   1.0  309  2.957929   914.0  30.051780
Ron Low          0.420732   69   1.0  164  2.908537   477.0  28.884146
Bryan Trottier   0.377358   20   1.0   53  2.528302   134.0  29.018868
Glen Sather      0.366667   33   1.0   90  2.600000   234.0  30.400000

                               hits           ... powerPlayGoals         \
                     sum       mean      sum  ...           mean    sum
head_coach                                    ...
Terry O'Reilly      30.0   5.000000      5.0  ...       0.000000    0.0
Alain Vigneault  14484.0  24.420382  11502.0  ...       0.547771  258.0
John Tortorella  10492.0  29.781250  10483.0  ...       0.576705  203.0
Tom Renney       10153.0  21.675841   7088.0  ...       0.813456  266.0
David Quinn       9286.0  24.278317   7502.0  ...       0.627832  194.0
Ron Low           4737.0        NaN      0.0  ...       0.689024  113.0
Bryan Trottier    1538.0   3.735849    198.0  ...       0.679245   36.0
Glen Sather       2736.0  17.155556   1544.0  ...       0.588889   53.0

                faceOffWinPercentage           giveaways         takeaways  \
                                mean      sum       mean     sum      mean
head_coach
Terry O'Reilly                   NaN      0.0   0.000000     0.0  0.000000
Alain Vigneault            48.318047  22757.8  10.511677  4951.0  7.698514
John Tortorella            49.009639  12203.4   6.031250  2123.0  6.903409
Tom Renney                       NaN      0.0   8.773700  2869.0  7.730887
David Quinn                46.823948  14468.6  12.524272  3870.0  8.106796
Ron Low                          NaN      0.0        NaN     0.0       NaN
Bryan Trottier                   NaN      0.0   0.000000     0.0  0.000000
Glen Sather                      NaN      0.0   9.833333   885.0  6.544444

                           blocked
                    sum       mean     sum
head_coach
Terry O'Reilly      0.0   0.000000     0.0
Alain Vigneault  3626.0  15.063694  7095.0
John Tortorella  2430.0  15.934659  5609.0
Tom Renney       2528.0  13.844037  4527.0
David Quinn      2505.0  14.883495  4599.0
Ron Low             0.0        NaN     0.0
Bryan Trottier      0.0   0.000000     0.0
Glen Sather       589.0  11.633333  1047.0

[8 rows x 24 columns]